/* Sticker component styles */
.lateralBar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap:10px
}
.menuContainer {
  height: 7%;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-top: 5px;
  align-items: center;
}
.deckContainer {
  width: 80%;
  height: 35%;
  display: flex;
  justify-content: center;
}
.absorbedBugsPanelContainer {
  width: 85%;
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nextButtonConteiner {
  width: 75%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuButton, .helpButton {
  background-color: var(--bg-pure);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  color: var( --color-ciano-extra-light);
  cursor: pointer;
}
.menuButton:hover, .helpButton:hover {
  color: var(--color-ciano-neon);
  text-shadow: 0 0 60px var(--color-ciano-neon);
}
.icon:hover {
  text-shadow: 0 0 60px var(--color-ciano-neon);
  filter: drop-shadow(0 0 2px var(--color-ciano-neon)) drop-shadow(0 0 10px var(--color-ciano-neon));
  transform: scale(1.1);
}