# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
**/node_modules
server/node_modules
client/node_modules
# Build artifacts
# Ignoring server-side rendering build outputs
dist-ssr
build/
dist/
# Ignore local environment configuration files
*.local

# Vite cache
.vite/

# Environment files
.env
.env.*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db
*.suo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
