.boardContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.board {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0rem;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:
    linear-gradient(to right, #1a1a1a 1px, transparent 1px),
    linear-gradient(to bottom, #1a1a1a 1px, transparent 1px);
  background-size: 40px 40px; /* grid square size */
}
.connectionsLayer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}
.nodesLayer {
  z-index: 2; /* nós acima das linhas */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10% 6% 10% 10% 10% 6% 10% 10% 10% 6% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  justify-content: center;
  align-content: center;
}
.interface {
  grid-row: 1/4;
  grid-column: 1;
  z-index: 2;
justify-self: start;
}
.frontend{
  grid-row: 5/7;
  grid-column: 2;
  z-index: 2;
}
.interaction {
  grid-row: 1/4;
  grid-column: 3;
  z-index: 2;
}
.applicationRequests {
  grid-row: 7;
  grid-column: 4;
  z-index: 2;
  justify-self: end;
}
.logic {
  grid-row: 4/7;
  grid-column: 5;
  z-index: 2;
}
.backend{
  grid-row: 8/9;
  grid-column: 6;
  z-index: 6;
 justify-self: center;
}
.integrations {
  grid-row: 4/7;
  grid-column: 7;
  z-index: 2;
}
.dataRequests {
  grid-row: 7;
  grid-column: 8;
  z-index: 2;
  justify-self: start;
}
.data {
  grid-row: 1/4;
  grid-column: 9;
  z-index: 2;
}
.database{
  grid-row: 5/8;
  grid-column: 10;
  z-index: 2;
}
.structure {
  grid-row: 1/4;
  grid-column: 11;
  z-index: 2;
}
/* color mapping */
[data-status="tests"] {
  --led-neon: var(--color-green-neon);
  --led-dark: var(--color-green-dark);
  --led-light: var(--color-green-light);
}
[data-status="REQUESTS"] {
  --led-neon: var( --color-red-neon);
  --led-dark: var(--color-red-dark);
  --led-light: var(--color-red-light);
}
[data-status="STRUCTURAL"] {
  --led-neon: var(--color-orange-neon);
  --led-dark: var(--color-orange-dark);
  --led-light: var(--color-orange-light);
}
[data-status="LOCAL"] {
  --led-neon: var(--color-yellow-neon);
  --led-dark: var(--color-yellow-dark);
  --led-light: var(--color-yellow-light);
}
.ComponentNodeWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ComponentNode, .ComponentDisabled {
  width: 1.3rem;
  height: 1.3rem;
  background: var(--bg-pure);
  border-style: solid;
  border-color: #f5f5f5;
  border-width: 3px;
  padding: 2px;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  transition: all 0.2s ease;
  user-select: none;
  transition: filter 0.3s ease, transform 0.3s ease;
}
label {
  max-width: 7rem;
  text-justify: auto;
  font-weight: bolder;
  color: var(--text-main);
  font-family: var(--font-family);
  font-size: var(--font-md);
  text-wrap: wrap;
  letter-spacing: -0.01em;
  user-select: none
}
.labelUp {
  margin: 0 0 0.3rem 0;
}
.labelDown {
  margin: 0.4rem 0 0 0;
}
.testedComponent {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  background-color: var(--color-green-dark);
  border: 3px solid var(--color-green-neon-dark);
  box-shadow:
    0 0 12px var(--color-green-neon-dark),            /* Brilho imediato do LED */
    0 0 25px var(--color-green-light), /* Luz iluminando o tabuleiro ao redor */
    inset 0 0 10px rgba(24, 23, 1, 0.212);   /* Volume para parecer uma lente de plástico */
  display: flex;
  align-items: center;
  justify-content: center;
}
.buggyComponent {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  background: radial-gradient(circle, #050505 30%, var(--led-dark) 100%);
  border: 3px solid var(--led-neon);
  box-shadow:
    inset 0 0 10px var(--led-neon),   /* Brilho interno */
    0 0 5px var(--led-neon),          /* Brilho externo sutil */
    3px 5px 10px rgba(0, 0, 0, 0.9); /* Sombra projetada no tabuleiro */
  display: flex;
  align-items: center;
  justify-content: center;
}
.bugQntLed {
  color: var(--led-neon);
  font-family: ui-monospace, monospace;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 0 0 8px ;
}
/* @keyframes flicker {
  from { opacity: 1; }
  to { opacity: 0.7; }
} */
.ComponentNode:hover {
  transform: scale(1.2);
}
.ComponentDisabled {
  pointer-events: none;
  filter: saturate(0.8) brightness(0.5);
  transform: scale(1)
}
.errorMessage {
  color: var(--text-error);
  font-size: 10px;
  line-height: 15px;
  grid-column: 1 / -1;
  padding: 5px;
  align-self: start;
}