.board {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0rem;
  /* border-style: solid;
  border-color: #ffffff;
  border-width: 3px;
  border-radius: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:
    linear-gradient(to right, #1a1a1a 1px, transparent 1px),
    linear-gradient(to bottom, #1a1a1a 1px, transparent 1px);
  background-size: 40px 40px; /* Tamanho do quadrado do grid */
}
.connectionsLayer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* pra não “roubar” clique dos nós */
  z-index: 1;
}
.nodesLayer {
  z-index: 2; /* nós acima das linhas */
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10% 6% 10% 10% 10% 6% 10% 10% 10% 6% 10%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  justify-content: center;
}
.interface {
  grid-row: 1/4;
  grid-column: 1;
  z-index: 2;
justify-self: start;
}
.frontend{
  grid-row: 5/7;
  grid-column: 2;
  z-index: 2;
}
.interaction {
  grid-row: 1/4;
  grid-column: 3;
  z-index: 2;
}
.applicationRequests {
  grid-row: 7;
  grid-column: 4;
  z-index: 2;
  justify-self: end;
}
.logic {
  grid-row: 4/7;
  grid-column: 5;
  z-index: 2;
}
.backend{
  grid-row: 8/9;
  grid-column: 6;
  z-index: 6;
 justify-self: center;
}
.integrations {
  grid-row: 4/7;
  grid-column: 7;
  z-index: 2;

}
.dataRequests {
  grid-row: 7;
  grid-column: 8;
  z-index: 2;
  justify-self: start;
}
.data {
  grid-row: 1/4;
  grid-column: 9;
  z-index: 2;
}
.database{
  grid-row: 5/8;
  grid-column: 10;
  z-index: 2;
}
.structure {
  grid-row: 1/4;
  grid-column: 11;
  z-index: 2;
}