/* color mapping */
.statusCheckerActive[data-status="HEALTHY"] {
  --led-neon: var(--color-green-neon);
  --led-dark: var(--color-green-dark);
  --led-light: var(--color-green-light);
}
.statusCheckerActive[data-status="WARNING"] {
  --led-neon: var(--color-yellow-neon);
  --led-dark: var(--color-yellow-dark);
  --led-light: var(--color-yellow-light);
}
.statusCheckerActive[data-status="CRITICAL"] {
  --led-neon: var(--color-red-neon);
  --led-dark: var(--color-red-dark);
  --led-light: var(--color-red-light);
    animation: pulse 0.2s infinite alternate ease-in-out;
}
.systemHealthStateItemWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.statusChecker {
  width: 0.7rem;
  height: 0.7rem;
  background: var(--bg-elevated);
  border-style: solid;
  border-color: var(--text-main);
  border-width: 3px;
  padding: 2px;
  border-radius: 50%;
}
.systemHealthStateItemlabel {
  font-weight: bolder;
  color: var(--text-main);
  font-family: var(--font-family);
  font-size: var(--font-md)
}
.statusCheckerActive {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  background-color: var(--led-neon);
  border: 3px solid var(--led-neon);
  box-shadow:
    0 0 5px var(--led-neon),
    0 0 10px var(--led-light),
    inset 0 0 10px rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes pulse {
  from {
    background-color: #c2002d;
    box-shadow:
      0 0 5px var(--led-dark),
      0 0 10px var(--led-light),
      inset 0 0 10px rgba(0,0,0,0.5);
  }
  to {
    background-color: var(--led-neon);
    box-shadow:
      0 0 15px var(--led-neon),
      0 0 12px var(--led-light),
      inset 0 0 10px rgba(0,0,0,0.5);
  }
}