.decisionButtonWrapper {
  margin: 0.2rem;
}
.decisionButton {
  width: 9.5rem;
  height: 3.6rem;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: var(--font-xs);
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  letter-spacing: -01.rem;
  background: var(--bg-button);
  border: 2px solid var(--category-color);
  color: var(--text-main);
  box-shadow: 0 0 4px var(--category-color);
}
.decisionButton:hover {
  background: var(--category-color);
  color: var(--bg-pure);
  box-shadow: 0 0 20px var(--category-color);
  transition: all 0.2s ease;
  text-shadow: 0 0 3px #ffffff;
}