.roomPlayerFormContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.playersFormWrapper {
  height: 2rem;
  color: var(--text-main);
  font-size: var(--font-md);
  font-family: var(--font-family);
  display: flex;
  flex-direction: row;
}
.playerForm {
  width: 90%;
  background: var(--bg-button);
  color: var(--text-main);
  font-family: var(--font-family);
  font-size: var(--font-md);
}