.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: var(--bg-button);
  color: var(--color-ciano-neon);
  font-family: 'JetBrains Mono', monospace;
  font-weight: 600;
  font-size: var(--font-md);
  text-transform: uppercase;
  letter-spacing: -0.01rem;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid var(--color-ciano-neon);
  transition: all 0.2s ease;
}
.button:hover {
  background: var(--color-ciano-neon);
  color: #000;
  letter-spacing: 0.05rem;
  box-shadow: 0 0 10px var(--color-ciano-neon);
}
.invertedButton {
  width: 100%;
  height: 100%;
  font-family: 'JetBrains Mono', monospace;
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--font-md);
  letter-spacing: -0.01rem;
  border: 2px solid var(--btn-color);
  border-radius: 5px;
  cursor: pointer;
  background: var(--btn-color);
  color: var(--bg-pure);
  text-shadow: 0 0 3px #ffffff;
  letter-spacing: 0.03rem;
  box-shadow: 0 0 10px var(--btn-color);
  transition: all 0.2s ease;
}
.invertedButton:hover {
  background: var(--bg-button);
  color: var(--text-main);
  text-shadow: 0 0 3px #ffffff;
  letter-spacing: 0.03rem;
  box-shadow: 0 0 4px var(--ciano);
  transition: all 0.2s ease;
}
.button:disabled {
  background: var(--bg-button);
  color: var(--button-disabled);
  border-color: var(--button-disabled);
  cursor: not-allowed;
  box-shadow: none;
}