.playersPanelContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, #2c2c2c, #121212);
  border-image-slice: 1;
  background-color: var(--bg-elevated);
  color: #e0e0e0;
  overflow: hidden;
}
.playersPanelHeader {
  letter-spacing: 1px;
}
.playersPanelTitle {
  color: var(--text-main);
  font-size: var(--font-md);
  font-family: var(--font-family);
}

.gridRow {
  display: grid;
  grid-template-columns: 30% 1fr 1fr 1fr;
  width: 100%;
  padding: 10px 5px;
  justify-items: center;
  align-items: center;
  box-sizing: border-box;
}
.itemRow {
  transition: background 0.2s ease;
}
.itemRow:hover {
  background: rgba(255, 255, 255, 0.05);
}
.cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.selectedRow {
  /* border-top: solid 2px var(--ciano);
  border-bottom: solid 2px var(--ciano); */
  transition: background 0.2s ease;
  background: rgba(255, 255, 255, 0.05);
}
.playerName {
  color: var(--text-main);
  font-size: var(--font-md);
  text-wrap: nowrap;
  font-family: var(--font-family);
  line-height: 1;
}
.playerPoints {
  color: var(--text-main);
  font-size: var(--font-md);
  text-wrap: nowrap;
  font-family: var(--font-family);
  font-weight: bolder;
  cursor: none;
}
/* Custom Scrollbar para Chrome/Edge/Safari */
.playersItemsContainer::-webkit-scrollbar {
  width: 6px;
}
.playersItemsContainer::-webkit-scrollbar-track {
  background: #020202;
}
.playersItemsContainer::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
.playersItemsContainer::-webkit-scrollbar-thumb:hover {
  background: var(--bg-hover);
}
.playerSelected {
  color: var(--ciano);
}
.inputPoints{
  width: 50%;
  padding: 4px;
  font-size: var(--font-sm);
  font-family: var(--font-family);
  border: 1px solid #333;
  border-radius: 4px;
  background-color: transparent;
}
.errorMessage {
  color: var(--text-error);
  font-size: var(--font-xs);
  margin-top: 5px;
}