.playersPanelWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid;
  border-image-source: linear-gradient(to bottom, #2c2c2c, #121212);
  border-image-slice: 1;
  background-color: var(--bg-elevated);
}
.playersPanelButton {
 align-self: flex-start;
}
.playersPanelTitle {
  color: var(--text-main);
  font-size: var(--font-md);
  font-family: var(--font-family);
  margin: 0.2rem 0;
  width: 50%;
}
.playersItemsContainer {
  width: 95%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
}
/* Custom Scrollbar para Chrome/Edge/Safari */
.playersItemsContainer::-webkit-scrollbar {
  width: 6px;
}
.playersItemsContainer::-webkit-scrollbar-track {
  background: #020202;
}
.playersItemsContainer::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
.playersItemsContainer::-webkit-scrollbar-thumb:hover {
  background: var(--bg-hover);
}