/* color mapping */
[data-status="tests"] {
  --led-neon: var(--color-green-neon);
  --led-dark: var(--color-green-dark);
  --led-light: var(--color-green-light);
}
[data-status="requests"] {
  --led-neon: var( --color-red-neon);
  --led-dark: var(--color-red-dark);
  --led-light: var(--color-red-light);
}
[data-status="structural"] {
  --led-neon: var(--color-orange-neon);
  --led-dark: var(--color-orange-dark);
  --led-light: var(--color-orange-light);
}
[data-status="local"] {
  --led-neon: var(--color-yellow-neon);
  --led-dark: var(--color-yellow-dark);
  --led-light: var(--color-yellow-light);
}
.ComponentNodeWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ComponentNode {
  width: 1.3rem;
  height: 1.3rem;
  background: var(--bg-surface);
  border-style: solid;
  border-color: var(--text-main);
  border-width: 3px;
  padding: 2px;
  border-radius: 50%;
  z-index: 2;
  display: flex;
  align-items: center;
  /* cursor: pointer; */
  transition: all 0.2s ease;
  user-select: none
}
label {
  max-width: 7rem;
  text-justify: auto;
  font-weight: bolder;
  color: var(--text-main);
  font-family: var(--font-family);
  font-size: var(--font-md);
  text-wrap: wrap;
  letter-spacing: -0.01em;
  user-select: none
}
.labelUp {
  margin: 0 0 0.3rem 0;
}
.labelDown {
  margin: 0.4rem 0 0 0;
}
.testedComponent {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  background-color: var(--color-green-dark);
  border: 3px solid var(--color-green-neon-dark);
  box-shadow:
    0 0 12px var(--color-green-neon-dark),            /* Brilho imediato do LED */
    0 0 25px var(--color-green-light), /* Luz iluminando o tabuleiro ao redor */
    inset 0 0 10px rgba(24, 23, 1, 0.212);   /* Volume para parecer uma lente de plástico */
  display: flex;
  align-items: center;
  justify-content: center;
}
.buggyComponent {
  width: 1.rem;
  height: 1.3rem;
  border-radius: 50%;
  position: relative;
  z-index: 10;
  background: radial-gradient(circle, #050505 30%, var(--led-dark) 100%);
  border: 3px solid var(--led-neon);
  box-shadow:
    inset 0 0 10px var(--led-neon),   /* Brilho interno */
    0 0 5px var(--led-neon),          /* Brilho externo sutil */
    3px 5px 10px rgba(0, 0, 0, 0.9); /* Sombra projetada no tabuleiro */
  display: flex;
  align-items: center;
  justify-content: center;
}
.bugQntLed {
  color: var(--led-neon);
  font-family: ui-monospace, monospace;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 0 0 8px ;
}
/* @keyframes flicker {
  from { opacity: 1; }
  to { opacity: 0.7; }
} */