/* Container do Dropdown */
.dropdownContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropdownWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: solid 1px var(--ciano);
}

.dropdownHeader, .exitGameButton {
  width: 100%;
  padding: 15px 20px;
  background: none;
  border: none;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: var(--font-family);
  font-size: var(--font-sm);
  white-space: pre-line;
  text-align: left;
  white-space: nowrap;
}
.exitGameButton {
  border-bottom: solid 1px var(--ciano);
}

.dropdownHeader:hover, .exitGameButton:hover {
  background-color: var(--ciano);
  color: var(--bg-pure);
}
.dropdownHeader:disabled, .exitGameButton:disabled {
  color: var(--text-muted);
  cursor: not-allowed;
}

.dropdownContent {
  width: 100%;
  max-height: 0; /* Começa fechado */
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s ease;
  background-color: var(--bg-surface);
  display: flex;
  align-content: center;
  justify-content: center;
}
.dropdownContentInner {
  color: white;
  font-family: var(--font-family);
  font-size: var(--font-xs);
  white-space: pre-line;
  text-align: left;
  padding: 10px;
}

.dropdownOpen {
  max-height: 500px; /* Um valor alto o suficiente para o seu texto */
}

.arrow {
  transition: transform 0.3s;
}

.arrowRotated {
  transform: rotate(180deg);
}
/* Custom Scrollbar para Chrome/Edge/Safari */
.dropdownContent::-webkit-scrollbar {
  width: 6px;
}
.dropdownContent::-webkit-scrollbar-track {
  background: #020202;
}
.dropdownContent::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
.dropdownContent::-webkit-scrollbar-thumb:hover {
  background: var(--bg-hover);
}
.exitGameButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.configMenuContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.configMenuContainerTitle {
  color: white;
  font-family: var(--font-family);
  font-size: var(--font-sm);
  text-shadow:
    1px 0px 0px rgba(255, 0, 0, 0.5),
    -1px 0px 0px rgba(0, 255, 255, 0.5);
}
.labelPlayerCount, .labelDifficulty {
  color: white;
  font-family: var(--font-family);
  font-size: var(--font-sm);
  text-transform: capitalize;
  letter-spacing: 0px;
  font-weight: 400;
}
.selectPlayerCount, .selectDifficulty {
  width: 95%;
  padding: 10px;
  background-color: var(--text-main);
  color: var(--bg-pure);
  border: none;
  font-family: var(--font-family);
  font-size: var(--font-xs);
  cursor: pointer;
  font-size: var(--font-xs);
  text-shadow:
    1px 0px 0px rgba(255, 0, 0, 0.5),
    -1px 0px 0px rgba(0, 255, 255, 0.5);
  margin: 5px;
}
.configMenuWarning {
  color: var(--color-red-neon);
  font-family: var(--font-family);
  font-size: var(--font-xs);
  padding: 10px;
}
